//$color-white: #fff;
$color-background--about: #E5E5E5;
$color-background: #F3F3F3;
$color-dark: #141414;
$color-hover: #6FF66C;
$color-active: red;
$color-transparent: transparent;
//$color-opacity: #CCCCCC;
$color-desc: #C5F8C4;
$color-btn--hover: #869791;