@font-face {
  font-family: 'Cambria';
  src: local('Cambria Bold'), local('Cambria-Bold'),
      url('./assets/fonts/Cambria-Bold.woff2') format('woff2'),
      url('./assets/fonts/Cambria-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Cambria';
  src: local('Cambria'), local('Cambria'),
      url('./assets/fonts/Cambria.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Corbel';
  src: local('Corbel'),
      url('./assets/fonts/Corbel.woff2') format('woff2'),
      url('./assets/fonts/Corbel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Corbel';
  src: local('Corbel Italic'), local('Corbel-Italic'),
      url('./assets/fonts/Corbel-Italic.woff2') format('woff2'),
      url('./assets/fonts/Corbel-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('./assets/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('./assets/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }